.wd-place-for-adoption-page {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.wd-uploaded-images{
    max-width: 200px;
    max-height: 200px;
    margin: 20px 10px;
}