.wd-category-page {
  display: flex;
  flex-direction: column;

  .wd-title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .wd-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .wd-collection-item {
      margin-bottom: 30px;
    }
  }
}
