.wd-category-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;


  .wd-title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .wd-preview {
    display: flex;
    justify-content: left;

    @media screen and (max-width: 700px) {
      div:nth-last-child(-n+2){
          display:none;
      }
    }
  
    @media screen and (min-width: 700px) and (max-width: 1100px) {
        div:last-child{
            display:none;
        }
    }
  }
}
