.wd-sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width: 800px) {
    margin-top: 50px;
  }
}

.wd-sign-up-title {
  margin: 10px 0;
}

.wd-sign-up-span {
  margin-bottom: 20px;
}

.wd-radio-buttons-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;


  div {
    margin: auto;
  }
}