$sub-color: grey;
$main-color: black;

.wd-user-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 60px 0;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content:space-around;
  }
}

.wd-user-img-input{
    margin: 10px 0 40px 0;
}

.wd-user-img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  margin:auto;
}

.wd-user-details {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin:auto;

  @media screen and (max-width: 800px) {
    width:80%;
  }
}

.wd-user-information-item {
  margin-bottom: 25px;
}

.wd-warning {
  padding-bottom: 20px;
  margin: 0;
  color: red;
}

.wd-profile-body {
  margin-bottom: 20px;
  font-size: 24px;
}

.wd-buttons-bar {
  display: flex;
  justify-content: space-between;
}

.wd-edit-user-form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.wd-follow-icon{
    margin-left:20px;
}
